<div id="main ">
    <div>
        <h1>{{title}}</h1>
        <p>{{{summary}}}</p>

        <div class="btn-group" data-toggle="buttons" id="hidden-filter-btn-group">
            <label class="btn btn-xs btn-primary active hidden-filter-btn active">
                <input class="hidden-filter-input" type="radio" name="hidden-options" autocomplete="off" hidden-id="all">All
            </label>
            <label class="btn btn-xs btn-primary hidden-filter-btn">
                <input class="hidden-filter-input" type="radio" name="hidden-options" autocomplete="off" hidden-id="hidden">Hidden Services
            </label>
            <label class="btn btn-xs btn-primary hidden-filter-btn">
                <input class="hidden-filter-input" type="radio" name="hidden-options" autocomplete="off" hidden-id="general">General Purpose
            </label>
        </div>
        <input id="show-flow-input" type="checkbox" checked><label>Flow</label>
        <input id="cluster-input" type="checkbox" checked><label>Cluster</label>
        <input id="label-input" type="checkbox" checked><label>Labels</label>
        <input id="scale-bandwidth-input" type="checkbox" checked disabled><label>Scale by Bandwidth</label>
        <input id="date-slider" class='slider' data-slider-id='ex1Slider' type="text" data-slider-min="1" data-slider-max="{{totalDates}}" data-slider-step="1" data-slider-value="{{defaultIndex}}"/> <label class="padded">Date:</label><span id="date-label">{{defaultDate}}</span>

        <div id="map-container">
            <div id="map">

            </div>
        </div>
    </div>
</div>
