<div class="layer-control">
    <Label class="layer-control-label">{{label}}</Label>
    <input class="slider"
        data-slider-min={{min}}
        data-slider-max={{max}}
        data-slider-step={{step}}
        data-slider-value={{initialValue}}>
    <Label class="control-value-label">{{initialFormattedValue}}</Label>
</div>
